body {
  background-color: white;
  margin: 0;
}

.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 7.8% 0 0;
}
.myheading {
  font-weight: 500;
  font-size: 1.61vw;
  color:#FFFFFF;
  margin:1.3vw 0.4vw 0;
  letter-spacing: -1.28px;
}

.mydescription {
  font-size: 1.0417vw;
  height: 5.2vw;
  color: #FDFDFD;
  margin: 1vw 0.5vw 0;
  font-weight: 400;
  line-height: 1.3vw;
  letter-spacing: -0.01em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-Overflow: ellipsis;
}
.visitpage{
  margin: 3vw auto 0;
  text-align: center;
  line-height: 3vw;
  color: #073B75;
  font-size: 1.0417vw;
  font-weight: 500;
  width: 9.5vw;
  height: 3vw;
  border-radius: 2.27vw;
  background: #FDFDFD;
}
.buttons{
  background: linear-gradient(90deg, #282D9B 0%, #5F42B1 66.15%, #7B4CBC 100%);
}

