

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 1rem;
  }
  
  .pagination-box span {
    font-weight: bold;
    padding: 0.2rem 0.4rem;
  }
  
  .pagination-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2vw;
    height:2.2vw;
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.7vw;
    margin: 0 0.2rem;
  }
  
  .pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2vw;
    height:2.2vw;
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8vw;
    margin: 0 0.2rem;
  }
  
  .pagination-button.current {
    background: linear-gradient(136deg, #21328F 3.00%, #3084BE 64.43%, #7D4ABC 100%);
    color: white;
    border: none;
  }
  .content-container:hover .underline-on-hover {
    text-decoration: underline;
  }
  
.s-center:hover{
  text-decoration: underline;
  font-weight: 400;
}
.hidden-empty {
  display: none;
}
.input-field::placeholder {
  font-size: 1.245vw;
  color: #9D9D9D;
}

