.link:hover {
  color: #1369CB;
  font-weight: 600;
}

.app{
    display: flex;
    margin:0.7vw 0 0;
}

.sidebar {
  letter-spacing: -0.02em;
  width: 27.5%;
  color: #2C2C2C;
}
.sidebar-heading{
    font-weight: 400;
    font-size: 1.66vw;
    line-height :2vw; 
}
.description-heading{
color: #2C2C2C;
font-size: 1.245vw;
margin:0.5vw 0.2vw 0;
font-family: Prompt;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -0.96px;
cursor: pointer;
}
.description-heading:hover{
  text-decoration: underline;
}
.description-heading.active {
  color: #1369CB;
}
.projects-heading{
color: #A6A6A6;
margin:1.4vw 0.2vw 0;
font-size: 1.146vw;
font-family: Prompt;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.88px;
}
.line{
  background: #535353;
  height: 0.1vw;
  width: 25vw;
  text-align: left;
  margin: 0.1vw 0.2vw 1.2vw;
}
.underline-on-hover:hover{
  text-decoration: underline;
}

.products-list {
  height: 25vw;
  overflow-y: auto;
}

.products-list::-webkit-scrollbar {
  width: 0.4vw;
}
.products-list::-webkit-scrollbar-thumb {
  border-radius: 30px;
background: linear-gradient(90deg, #282D9B 0%, #5F42B1 66.15%, #7B4CBC 100%);
}


.product.active {
  color: #1369CB;
}

.content {
  width: 72.5%;
  margin:0.3vw 4vw 0;
}

.lab-description{
  font-weight: 300;
  font-size: 1.0417vw;
  line-height:1.5vw;
  letter-spacing: -0.03em;
  color: #2C2C2C;
}
.faculty-name,
.keywords {
    font-weight: 300;
    font-size: 1.0417vw;
    line-height :0.2vw;
    margin:1.7vw 0 1.7vw;
    color: #1A1A1A;
}

.nav-bar {
  display: flex;
  margin-bottom: 10px;
}

.nav_link {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin: 0.6vw 0 0.6vw;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.5vw;
    letter-spacing: -0.02em;
    color: #515151;
}

.nav_link.active {
  color:#1A1A1A;
  font-weight: 500;
  border-width: 0.3vw;
  border-color: #535353;
}

.section {
    margin: 2vw 0 2vw;
    width: 92%;
    text-align: left;
}

.section h3 {
    font-weight: 400;
    font-size: 1.0417vw;
    line-height: 2vw;
    letter-spacing: -0.02em;
    color: #1A1A1A;
}
.section p{
    font-weight: 300;
    font-size: 1.0417vw;
    line-height:1.5vw;
    letter-spacing: -0.03em;
    color: #2C2C2C;
}
.section:not(.active) {
    display: none;
  }

