.profile-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3.5vw; 
    grid-row-gap:2vw;
    margin: 3vh 0.5vw 0;
  }
  
  .profile {
    text-align: center;
    border: 2px solid #DCDCDC;
    background: #FFF;
    width: 16.5vw;
    height: 47vh;
  }
  
  .profile-photo {
    width: 13vw;
    height: 26vh;
    margin:auto;
    object-fit: cover;
    margin: 2vh auto 2.5vh;
  }
  .profile-photo img{
    width: 100%;
    height: 100%;
  }
  .profile-name {
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 0.9vh;
    color: #282828;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    width: 15vw;
    height: 4vh;
    margin: auto;
  }
  
  .profile-designation {
    width: 16vw;
    height: 4vh;
    margin: auto;
    font-size: 1vw;
    margin-bottom: 0.5vw;
    color: #3E3E59;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 18px;
  }
  
  .profile-icons {
    display: flex;
    justify-content: center;
  }
  
  .profile-icon {
    color: #1f669f;
    width: 2.1vw;
    height: 4.4vh;
    margin: 0 0.5vw;
    cursor: pointer;
  }
  .profile-icon img{
    width: 100%;
    height: 100%;
  }
  .profile-icon:hover {
    color: #1369cb;
  }
  
  .team-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .team-pagination-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 6vh 1rem;
  }
  
  .team-pagination-box span {
    font-weight: bold;
    padding: 0.2rem 0.4rem;
  }
  
  .team-pagination-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2vw;
    height:2.2vw;
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.7vw;
    margin: 0 0.2rem;
  }
  
  .team-pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2vw;
    height:2.2vw;
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8vw;
    margin: 0 0.2rem;
  }
  
  .team-pagination-button.current {
    background-color: #02858d;
    color: white;
    border: none;
  }
  